<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your camera to take photos for analysis.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to save and organize photos in the Photo Analyzer album.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save photos to your photo library in the Photo Analyzer album.</string>
</dict>
</plist>
